<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
     <img alt="Transfer Learning with Resnet-50 onto U-Net" src="{{"/assets/img/Transfer-LearningUNet.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Transfer Learning with Resnet-50 onto U-Net </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p>Segmentation is costly to annotate. Requires someone with a degree of training to go through each slice and carefully contour what you're looking for. 
       Given the recent event of COVID, pneumonia is only present as a serious complication of the case. 
       This project is motivated to help patients by using machine learning to detect pneumonia.</p>
    <a class="project-link" href="https://github.com/Juneyy/Transfer-U-Net">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-Left">
     <img alt="WordCloud" src="{{"/assets/img/WordCloud.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Projects </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p>This project is to explore the crime area and the type of crime located in Los Angeles.</p>
    <a class="project-link" href="https://github.com/Juneyy/Crimes-Data-Analysis-and-Visualization-EDA">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-Right">
     <img alt="Deep Learning" src="{{"/assets/img/DeepLearning.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Projects </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p>A repository on my Deep Learning work focusing medical imaging.</p>
    <a class="project-link" href="https://github.com/Juneyy/Miscellaneous">Check it out</a>
  </div>
</div>
<!--  comment start
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
comment ends   -->
