<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <!-- comment start
  <div class="images-right">
     <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  comment end -->
  <div class="contents">
    <h3> Projects </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p>Mainly projects on Deep Learning.</p>
    <a class="project-link" href="https://github.com/Juneyy/Miscellaneous">Check it out</a>
  </div>
</div>
<!--  comment start
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
comment ends   -->
