<div class="user-details">
  <h1> Featured Projects </h1>

<div class="user-projects">
  <div class="images-right">
     <img alt="BusinessImage" src="{{"/assets/img/BusinessData.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Exploratory Data Analysis on Sales Data </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p> We can see trends with just basic information from transactions. Most of the sales occurred in December. The most frequently bought items are
       iPhone and Lighting Charging Cable.     
    </p>
    <a class="project-link style="text-align:center" href="https://github.com/Juneyy/EDA-on-Sales-Data">Check it out</a>
  </div>
</div>

<br>
  
<div class="user-projects">
  <div class="images-right">
     <img alt="PCA" src="{{"/assets/img/PCAImage.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> PCA with Pokemon Stats on Decision Trees </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p>Some dataset gets too large and takes plenty of time to train. 
       Principal component analysis tries to reduce the columns by transforming them into new axes,
       which can reduce overfitting <br>.</p>
    <a class="project-link" href="https://github.com/Juneyy/PCA-on-Pokemon-Dataset">Check it out</a>
  </div>
</div>

<br>

  
</div>
<div class="user-projects">
  <div class="images-right">
     <img alt="Transfer Learning with Resnet-50 onto U-Net" src="{{"/assets/img/Transfer-LearningUNet.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Transfer Learning with Resnet-50 onto U-Net </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p>Segmentation is costly to annotate. Requires someone with a degree of training to go through each slice and carefully contour what you're looking for. 
       Given the recent event of COVID, pneumonia is only present as a serious complication of the case <br>. 
       This project is motivated to help patients by using machine learning to detect pneumonia <br>.</p>
    <a class="project-link" href="https://github.com/Juneyy/Transfer-U-Net">Check it out</a>
  </div>
</div>


<br>


<div class="user-projects">
  <div class="images-right">
     <img alt="WordCloud" src="{{"/assets/img/WordCloud.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Exploratory Data Analysis on Post-Covid Crime Rate in LA </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p>This project is to explore the crime area and the type of crime located in Los Angeles <br>.</p>
    <a class="project-link" href="https://github.com/Juneyy/Crimes-Data-Analysis-and-Visualization-EDA">Check it out</a>
  </div>
</div>

<br>

<div class="user-projects">
  <div class="images-right">
     <img alt="Deep Learning" src="{{"/assets/img/DeepLearning.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Projects </h3>
    <!-- comment start
    <ul>
      <li> A collection of projects that I do </li>
    </ul>
    comment end -->
    <p>A repository of my Deep Learning work focusing on medical imaging <br>.</p>
    <a class="project-link" href="https://github.com/Juneyy/Miscellaneous">Check it out</a>
  </div>
</div>








<!--  comment start
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
comment ends   -->
